[2017-10-06 08:32] Krzychek opened #1 "How about Yakauake"
How about ability to use `yaourt` for update check? Just config with custom command would be enough.

If you're wondering why I see it useful: yaourt allows to check also AUR packages updates and perform upgrades on them easily.

[2017-10-06 19:23] I-Dream-in-Code commented on #1
I'll look into it.  I was debating between yaourt vs apacman vs others.

I need to be sure that it can display version upgrade numbers.  If it can I'll start the new branch.

What I don't want is people asking for everyone's favorite AUR helper to add compatability, ya know?

[2017-10-07 15:12] Krzychek commented on #1
Yeah, I see.
But with custom command approach, you can specify format (csv maybe?) you expect from command given by user.
This way one can leverage bash pipelines (and tools like cut and awk of course) to transform almost any tool output to work with your notifier.
And still you don't support directly any tool, so the "everyone's favorite helper problem" won't be the case.

How about that?

[2017-10-07 15:20] I-Dream-in-Code commented on #1
Sounds worthwhile to look into.

But like I said it needs to be able to display upgraded version numbers.

[2017-10-07 15:23] Krzychek commented on #1
Ok, so you can specify that command should return csv in format
"package, version" or "package, oldversion, newversion". And all fields are required.
Then the problem is on the side of the user to provide this format from command he types in plasmoid setting :)

[2017-10-07 15:38] I-Dream-in-Code commented on #1
Actually he doesn't have to

If you look at my settings now it's just a check box to hide version number.

That's all it needs to be and doesn't need to change.

Even if it did I just add a few more check boxes and run a Boolean test to figure out the right one

[2017-10-07 15:47] I-Dream-in-Code commented on #1
Or I can do an ordered selection box that creates the order for me with some backend magic :)

[2017-10-07 16:12] I-Dream-in-Code commented on #1
Okay so I figured out how to do it I think

`ls /usr/bin | egrep '(yaourt|apacman...)' | head -n1` shows which package manager they have

Using the `-Qu` flag shows the list with upgraded version numbers

As long as I can format the output like the `checkupdates` command normally outputs it's really easy to implement

[2017-10-07 22:20] I-Dream-in-Code commented on #1
So `apacman` can't distinguish new package version numbers

`yaourt` can do `-Qua` flag and it shows it fine

`apacman`'s `--auronly` only works with `-Syyu` for some stupid reason

this is honestly why I didn't do it in the first place since I'd be fighting with 20 different syntaxes that stupidly won't work with the `-Qu` flag

[2017-10-07 23:05] I-Dream-in-Code commented on #1
The only semi-plausible way would be to do a for loop that runs -Ss on each individual package that's in the AUR

depending on the format it's `aur/*package name*` `current version #` (not a uniform format) `installed: *current version*`

So I'd have to parse the output for 3 things in some complicated regex that has ZERO uniformity and honestly would take forever

[2017-10-07 23:43] I-Dream-in-Code commented on #1
if you feel like testing it out and giving me some benchmarks:

`pacman -Qm` lists all foreign packages

create a `bash` script that runs a `for/do while`  from `stdin` newline separated packages that calls any package manager `-Ss`

`apacman -Ss plasma5-applets-kde-arch-update-notifier-git `:
returns
 `aur/plasma5-applets-kde-arch-update-notifier-git 2.1-1`
`[installed: 1-1] (2)`
`

`yaourt -Ss p

[2017-10-11 16:03] LittleHuba opened #2 "Add option to change commands"
Please add an option where you can change the commands that are run when checking for updates and upgrading your system.

[2017-10-11 16:31] I-Dream-in-Code commented on #2
What type of commands?

I'm not including all of them.

Why should I add commands?

It does what it's supposed to do just fine

[2017-10-11 17:27] LittleHuba commented on #2
For example to support pacaur or yaourt and provide support for the AUR-Repositories? You could just provide textinputs where one can edit the commands. The Gnome plugin does just that.

[2017-10-11 17:30] LittleHuba commented on #2
Here is the repo of the Gnome plugin I mentioned above. The link directs you to the wiki page of the repo where the commands are explained.

https://github.com/RaphaelRochet/arch-update/wiki

[2017-10-11 17:41] I-Dream-in-Code commented on #2
See issue #1 for yaourt and aur support

I'll look into gnome

[2017-10-11 17:44] I-Dream-in-Code commented on #1
The only viable option is adding yaourt only

[2017-10-11 17:56] I-Dream-in-Code commented on #2
The only viable option is yaourt only

Should it be a setting or default aur support without an option to do non aur?

[2017-10-11 18:12] LittleHuba commented on #2
Why would pacaur be not an option?

[2017-10-11 18:37] I-Dream-in-Code commented on #2
Like I said before

What I don't want is everyone suggesting their favorite aur helper of choice.

I need to have it return `checkupdates` style format that shows the package name, current version and new version

`yaourt -Qua` does that for sure

[2017-10-11 18:49] LittleHuba commented on #2
You could add a dependency to `checkupdates-aur` which provides the same service as checkupdates but for the AUR-Repositories. Then it would only be necessary to provide a textinput for the command to upgrade.

And to get back to your question about the additional option: More options for the user do not hurt, so go along with providing the option.

[2017-10-11 19:07] I-Dream-in-Code commented on #2
duplicate of #1

[2017-10-11 19:08] I-Dream-in-Code commented on #2
That is a good alternative it seems but it's having issues building on my machine I'll look into it

[2017-10-11 19:23] I-Dream-in-Code commented on #2
I got it to build but had to remove a check in the PKGBUILD  it looks promising thank you for finding that package just what I need

[2017-10-11 19:34] I-Dream-in-Code commented on #1
please see #2 for updates AUR support

[2017-10-11 19:34] #1 closed

[2017-10-14 08:47] Tichy opened #3 "Option "show upgrade on konsole" not saved between sessions"
I like to view on console what's happening, to see if there are error messages or notices. When I check "show upgrade on konsole" it stays enabled only for the current session. Every time I login again, I found it unchecked.

[2017-10-14 13:05] I-Dream-in-Code commented on #3
Thanks for reporting the bug.

When you say "session" do you mean a log out and logging back in? Restart? Both?

[2017-10-14 14:31] I-Dream-in-Code commented on #3
fixed

either clone this or use aur package plasma5-applets-kde-arch-update-notifier-git

I'm adding AUR support so it's better if you do the AUR package to get all the updates

[2017-10-14 14:31] #3 closed

[2017-10-14 16:09] Tichy commented on #3
Thanks, but now I can't install it because perl-www-aur, which is required by checkupdates-aur, which is required by plasma5-applets-kde-arch-update-notifier-git doesn't compile (even after installing the unmentioned build dependecy perl-module-install).
This aur support requires a lot of dependencies...

[2017-10-14 16:18] I-Dream-in-Code commented on #3
My bad I need to roll back the pkgbuild that feature isn't done

[2017-10-14 16:21] I-Dream-in-Code commented on #3
fixed

[2017-10-14 16:25] I-Dream-in-Code commented on #3
On the note why it's not compiling:

`perl-www-aur` has a bug in it's check command on install

Someone posted about it in aur website

Once this feature is complete if it's not fixed remove the check function from pkgbuild

[2017-10-14 16:27] Tichy commented on #3
In data sabato 14 ottobre 2017 18:25:07 CEST, Michael Harris ha scritto:

Yes. It was me a minute ago ;)

Thanks for the fix. I'm trying it now. :)

[2017-10-14 16:29] I-Dream-in-Code commented on #3
If it doesn't get fixed soon I'll make it an optional dependency

[2017-10-14 16:32] I-Dream-in-Code commented on #3
Lol I thought is was you haha :)

Thanks for posting I was just about to

[2017-10-14 16:35] I-Dream-in-Code commented on #3
Can you confirm it's working?

[2017-10-14 16:42] Tichy commented on #3
In data sabato 14 ottobre 2017 18:35:09 CEST, Michael Harris ha scritto:

Yes. Now it keeps it. Thanks.

[2017-10-14 16:48] I-Dream-in-Code commented on #3
Cool

Glad it worked out.

Simple bug I learned from aur feature

Konsole wasn't in the xml settings file so it kept deleting after each session

Put it in and it fixed it

[2017-10-14 18:45] I-Dream-in-Code commented on #3
I decided to write my own check updates aur

It honestly should just be `pacman -Qm` then a perl search for `https://aur.archlinux.org/packages/*package name*` and get current version

[2017-10-15 17:15] archderwelt opened #4 "Dark text on dark background"
Text is hardly readable with the breeze-dark theme.
Thanks.
![screenshot_20171015_190905](https://user-images.githubusercontent.com/20864876/31587177-390247f0-b1dd-11e7-8f8c-3c44fc656224.png)

[2017-10-15 17:22] I-Dream-in-Code commented on #4
It should be a simple fix of text color

I'll get to it in the next couple days

[2017-10-16 00:30] I-Dream-in-Code commented on #4
simple fix it was supposed to be `theme.textColor` but it was a typo of `theme.textcolor`

feel free to use the `AUR pacakge` `plasma5-applets-kde-arch-update-notifier-git` to update

AUR support coming soon

[2017-10-16 00:30] #4 closed

[2017-12-17 17:59] ghost opened #5 "Autohide icon in systemtray"
Is it possible to have icon hidden in systemtray when no updates available? Currently icon is always shown when I choose "Auto" setting.

[2017-12-17 18:19] I-Dream-in-Code commented on #5
I can look into it.

Right now I'm finally finishing aur support

[2017-12-20 23:08] fancytenseletters commented on #2
As for the main topic I think update command can be changed to plain `pacman -Syu` (without `--noconfirm` and `--force` arguments) when Konsole output is chosen which makes more sense to be interactive.

[2017-12-21 00:46] I-Dream-in-Code commented on #2
@fancytenseletters updated

I made it multithreaded so it won't freeze the UI when you run checkupdates as well

[2017-12-21 12:36] I-Dream-in-Code commented on #2
@LittleHuba  Sorry it's taken so long.  Had to finish school.

I looked at GNOME version and his just parses text.  The problem I feel is that there's no way to run purely in the background.  it's just creating a terminal window and updates.

I'm working on a version that upgrades in the background and auto-selects the first alphabetical AUR helper.

selecting and running the aur helper in konsole

[2017-12-25 21:40] fancytenseletters opened #6 "Since last update plasmoid shows previous update status"
First update checking works ok.
Second update show status from first update.
Third update shows status from second update and so on...

[2017-12-25 22:05] I-Dream-in-Code commented on #6
When you say status is it the actual old checkupdates return value?

Or an actual status message?

[2017-12-25 22:19] I-Dream-in-Code commented on #6
Also how are you running check updates?

Do you repeatedly click check updates?

Do you repeatedly click after an upgrade?

Hoping for more information.

I added a blocking queue to the slot but I need more background from you

[2017-12-25 22:57] I-Dream-in-Code commented on #6
pretty sure the blocking queue fixed it as it fixed this bug I had with a different branch

[2017-12-25 23:18] I-Dream-in-Code commented on #6
updated the master branch, let me know if that fixed it

also updated the AUR package

[2017-12-26 12:21] fancytenseletters commented on #6
I set update timer to 60min and plasmoid always showed me packages which I already updated one hour ago instead of current updates. I had to click to check updates again to see current updates. I upgraded plasmoid and will report if this is fixed.

[2017-12-27 16:33] fancytenseletters commented on #6
This issue seems to be fixed however plasma ui starts freezing again during update process. I hope it can be solved without issues like this in the future.

[2017-12-27 18:55] I-Dream-in-Code commented on #6
Yeah that's the nasty thing about blocking queue

I'm gonna rewrite it with an actual mutex true multithreading

[2017-12-27 21:48] I-Dream-in-Code commented on #6
@fancytenseletters QML makes asynchronous calls but I added a half semaphore and it shouldn't freeze and also updates correctly

I have to wait for upgrades to test further

[2017-12-29 06:45] I-Dream-in-Code commented on #6
@fancytenseletters I fixed it and do apologize  for that bad implentation before.

the master branch and AUR package are both updates

[2017-12-29 06:45] #6 closed

[2017-12-29 22:19] fancytenseletters commented on #6
@I-Dream-in-Code Hmm this time plasmoid doesn't show upgradable packages in its window. Only number of updates are shown in tray. Choosing "Update system" works ok (I'm using Konsole output).

[2017-12-30 02:32] I-Dream-in-Code commented on #6
@fancytenseletters  somehow the` "text" : packagelist[i]` was missing `text:` and just `packageList[i]`

Updated master and AUR

[2017-12-30 11:23] fancytenseletters commented on #6
Thanks!

[2018-01-02 16:08] LittleHuba commented on #2
Well updating AUR in background is not really a good idea. It happens quite regular, that there is a bug in the PKGBUILD. That would result in quite the big issue. Additionally you would need to provide the additional information that is required in the update process, like files that are not overwritten and you have to manually update, ...

You might want to redecie if it is the best choice. Arch

[2018-01-02 16:46] I-Dream-in-Code commented on #2
Yeah I removed the --force option

Plus people might need to inspect package build etc

I'll push a console only version and if I get a GitHub issue about background I'll refer them to this issue

[2018-01-03 03:04] I-Dream-in-Code commented on #2
@LittleHuba I push the changes just now.  AUR is supported and currently in konsole mode only with an option to `--noconfirm`

master and AUR package are updated.

it automatically selects the first alphabetical AUR Helper list in `/usr/bin` so I hope I got the commands right for each individual helper

Let me know how it works and start a new issue for something different so it's easier to manage

[2018-01-03 03:04] #2 closed

[2018-01-03 09:19] nomis6432 opened #7 "error while building package from AUR"
I tried updating the package from the AUR with pacaur but I get an illegal instruction error. I don't know if this is something on my end but here is the konsole output: https://pastebin.com/aEpdGebC

I installed it form the AUR a few days ago without a problem so I think the issue is new.

[2018-01-03 10:06] fancytenseletters opened #8 "AUR support incompatible with zsh shell"
Clicking on **Update System** inside plasmoid when an AUR update is available invokes two commands:

`/usr/bin/konsole --hold -e  pacaur -Syyu`
`/usr/bin/zsh pacaur -Syyu`

The second one fails with `/usr/bin/zsh: can't open input file: pacaur`. I tried invoking `/usr/bin/zsh pacaur -Syyu` manually and it fails with same error however when I try `/usr/bin/bash pacaur -Syyu` it succeeds.

I don't k

[2018-01-03 10:12] fancytenseletters commented on #7
Can't reproduce.

[2018-01-03 13:57] I-Dream-in-Code commented on #7
That's not on my end

That's pacaur and been well commented on

[2018-01-03 13:57] #7 closed

[2018-01-03 14:19] I-Dream-in-Code commented on #8
Give me the exact steps to reproduce and I'll look into it

[2018-01-03 15:23] fancytenseletters commented on #8
1. Install zsh
2. Set /usr/bin/zsh as user shell
3. Check AUR support in plasmoid
4. Try updating system

[2018-01-03 15:51] I-Dream-in-Code commented on #8
I feel like I just need to set it to start the update process with /bin/bash and put konsole as an argument

[2018-01-03 16:08] I-Dream-in-Code commented on #8
I added the argument and changed the shell and it works now.

I haven't updated the AUR package but I updated master.

If you could manually install from master and verify it's working on your end I will update the AUR package

[2018-01-03 16:12] I-Dream-in-Code commented on #8
turns out there was an empty string as an argument and that's why it was throwing an error

updated so please verify by cloning master and running the install script

[2018-01-03 16:29] fancytenseletters commented on #8
It's working now, thanks. :smile:

[2018-01-03 16:29] #8 closed

[2018-01-03 17:39] guicale opened #9 "Error with AUR update - makepkg can't be run as root"
Updating AUR packages fails because the AUR helper (Trizen in my case) is run as root and makepkg fails if it is run as root.
This could probably be corrected by running the AUR helper as the regular user instead of root.

[2018-01-03 17:55] I-Dream-in-Code commented on #9
The same issue is for pacaur and it works fine for pacaur

I can try putting pexec *user* to force it to be run as a user instead of root

[2018-01-03 17:59] guicale commented on #9
That's strange. Is pacaur also running as root?

[2018-01-03 18:16] I-Dream-in-Code commented on #9
Pacaur quits automatically if run as root.

I dealt with that bug for a long when I tried to make aur updates ruin only in background. That's why it only runs in konsole to avoid the whole issue.

It might not be on my end and might be some specific pkgbuild issue.

Can you try running trizen manually and see if it fails?

Also please list the output of `ps aux | grep trizen` both running manual a

[2018-01-03 18:28] fancytenseletters commented on #9
pacaur automatically ask for credentials when it's run as user. It quits when run as `sudo pacaur` or `pkexec pacaur` but simple `pacaur` invoked as normal user should work (it will ask for pass to elevate privileges by itself)

I'm pretty sure that pacaur and yaourt doesn't need to be run as root (the elevate privileges when they need them)

[2018-01-03 18:38] I-Dream-in-Code commented on #9
None of them are run as root or sudo

The command is `konsole --hold -e *aur_helper* -Syu`

[2018-01-03 18:43] I-Dream-in-Code commented on #9
@fancytenseletters does pacaur fail for you?

I don't have any aur packages to update but when it updates what pacman should I doesn't fail.

So if it's an aur only issue I'll downgrade my own arch update notifier

[2018-01-03 19:25] fancytenseletters commented on #9
No, everything is fine on my end (using pacaur). It's OP who said that his helper (`trizen`) runs as root.

[2018-01-03 19:37] I-Dream-in-Code commented on #9
@fancytenseletters  you had me worried for a sec haha

@guicale can you please post output of `ps ayx | grep trizen` before it finishes both manual and through plasmoid

[2018-01-03 21:43] guicale commented on #9
I was trying to test the plasmoid again after updating it to the latest version and now it's causing a segmentation fault on Plasma Shell when I click "Update System" (with AUR enabled and disabled). I'll try to reinstall the plasmoid and report back on what happens. Sorry for all the trouble.

[2018-01-03 21:54] guicale commented on #9
After reinstalling the segfault remains, so I can't report on the original issue, sorry.

[2018-01-03 21:56] I-Dream-in-Code commented on #9
Iremoved pacaur and only have trizen and got seg fault too

I'll investigate

[2018-01-03 22:04] I-Dream-in-Code commented on #9
figured out the bug.

my sanitize statement is removing everything so it's null and that's why pacaur only worked because there was a special case

fixing now

[2018-01-03 22:14] I-Dream-in-Code commented on #9
fixed

master and AUR package are updated.

Thank you for your patience

[2018-01-03 22:14] I-Dream-in-Code commented on #9
@guicale please verify it's working  both no seg fault and the root bug that isn't showing for me

[2018-01-03 22:21] guicale commented on #9
Everything is working now, thank you for your help.

[2018-01-03 22:30] I-Dream-in-Code commented on #9
@guicale I did `ps aux | grep trizen` with trizen running as the aur helper and it's not showing the process as root it's under my username

I also tested it on a downgraded version of this package and it's no issue.

I think it's not on my end and whoever made that package has a faulty pkgbuild

[2018-01-03 22:37] guicale commented on #9
The thing is that the package I was updating was the arch update notifier itself, and there was a big warning saying trizen was running as root, so I don't know what the problem might have been.
![image](https://user-images.githubusercontent.com/7140690/34542937-8d9ffac2-f0d6-11e7-88b6-fbb6c1a1fb90.png)

[2018-01-03 22:46] I-Dream-in-Code commented on #9
I think it's my cleanup function it creates a.so file in the cmake build directory that won't remove unless elevated privileges

Or the fact the plugin backend needs to go into a root owned folder do I need to sudo to add it

But that's cmake and I have no control over it

If it actually fails to update message me

[2018-01-03 22:47] #9 closed

[2018-01-03 22:51] guicale commented on #9
I've already successfully updated another package from the AUR after the update, so everything seems to be working properly now. I'll let you know if I run into any other issues!

[2018-01-03 23:00] I-Dream-in-Code commented on #9
Perfect, sorry I didn't get to it quicker I was at the gym

This is really my only big personal project and it's helping me get jobs so happy to address issues and add features

[2018-01-10 21:39] fancytenseletters opened #10 "Restore --hold argument for upgrade terminal"
Commit https://github.com/I-Dream-in-Code/kde-arch-update-plasmoid/commit/68df535d7071ba25aa9319b807ff7bb066b1ec4b removed `--hold` argument for Konsole which means it's instantly closed after upgrade.

I think it's valuable for user to investigate upgrade info as it can contain useful info about new config files (pacnew,pacsave) or new optional dependencies. I often keep konsole window in backgro

[2018-01-10 22:05] I-Dream-in-Code commented on #10
Thank you for the feedback.

The reason I removed it was because if you forget to close it and it refreshes in whatever interval you set the entire plasmashell freezes with the mutex locks.

But I added it back and both master and AUR package are updated

[2018-01-10 22:06] #10 closed

[2018-01-10 22:31] fancytenseletters commented on #10
Thanks. As for freezing, maybe it should block refresh when terminal is active?

[2018-01-10 22:36] I-Dream-in-Code commented on #10
Yeah I can probably just check if mutex is lock is false and just return the function so it doesn't run

[2018-01-11 02:50] I-Dream-in-Code commented on #10
@fancytenseletters  i added a simple bool check if when the upgrade process is running to prevent checkupdates from running until the upgrade is ending both konsole and in background

master and AUR are both updated

[2018-01-13 13:04] naraesk opened #11 "root privileges"
Hello,

nice piece of software! I installed the aur package. But when I click "Update System" to update aur packages I recieve an error message, saying I need rooth privileges.

`Fehler: Sie benötigen Root-Rechte, um diese Operation auszuführen.
aura >>= Bitte überprüfen Sie Ihre Eingabe.`

How to fix this? Can this step be integrated into the aur package?

[2018-01-13 18:08] I-Dream-in-Code commented on #11
What aur helper are you using?

I'm unclear on if you're trying to install my package or others?

Please give me steps to reproduce

[2018-01-13 18:09] I-Dream-in-Code commented on #11
Also please post error message in English if possible

[2018-01-13 18:48] naraesk commented on #11
Sorry, thought that's clear. I'm using your program. It shows that one aur-package can be updated. When clicking on the "update system" button a concole window appears with the quoted error message printed.

The message says nothing more than root privileges are required. I have aura installed.

[2018-01-13 19:09] I-Dream-in-Code commented on #11
fixed.  I just needed to add sudo to aur.

My apologies for not testing out each command

Master and AUR package are both updated

[2018-01-13 19:09] #11 closed

[2018-01-19 16:59] naraesk opened #12 "aura: No aur support"
Just another small problem using aura as aur-helper:

The command to update aur packages is `aura -Ayu`. But it seems as `aura -Syu` is run by kde-arch-update-plasmoid, which does the same as `pacman -Syu`. With aura it is not possible to update the official repositories and aur at the same time (afaik).

Is this solvable? Or which aur-helper do you recommend?

[2018-01-19 17:46] I-Dream-in-Code commented on #12
I just added a fix.

You need to close the konsole window once aura is finished so pacman can run.

Trizen or pacaur do it all in one but pacaur is unmaintained.

both aur package and master are updated

[2018-01-19 17:46] #12 closed

[2018-02-01 18:37] nomis6432 opened #13 "pacaur opens PKGBUILD when upgrading AUR"
Currently pacaur opens the PKGBUILD file when updating a package from the AUR. Which can be annoying since he updates the AUR after the arch repositories and therefore pauses the update. I believe this can be fixed by adding --noedit .

[2018-02-01 19:28] fancytenseletters commented on #13
Pacaur by default shows only diff between current and last PKGBUILD. You can disable it in pacaur config if don't want this, uncomment and change:
`displaybuildfiles=diff` to `displaybuildfiles=none` in `~/.config/pacaur/config`

[2018-02-01 20:35] I-Dream-in-Code commented on #13
fixed thanks for the tip on --noedit

master and aur package are updated

[2018-02-01 20:35] #13 closed

[2018-02-01 21:12] fancytenseletters commented on #13
@I-Dream-in-Code  I think this change is a mistake. I showed you how to change  it in pacaur config for every user who's interested. `--noedit` argument in non override-able.

[2018-02-01 21:35] nomis6432 commented on #13
@fancytenseletters It looks like `--noedit` is only used when `--noconfirm` is enabled. If you want to check the PKGBUILD you can still do so by disabling `--noconfirm`. This makes sense imo since when you use `--noconfirm` you expect the update to run without any interruptions.

[2018-02-01 21:44] I-Dream-in-Code commented on #13
@nomis6432 is correct.  `--noedit` is only run when `--noconfirm aur` in settings is enabled.

He/She articulated it perfectly

[2018-02-01 21:50] fancytenseletters commented on #13
Ok then. Thx for info.

[2018-02-05 16:16] Faenriis opened #14 "Configuration dialog text invisible if plasma color theme and application color theme are not the same"
I'm using Breeze Dark plasma theme but Breeze color scheme for applications.
Which results in a white text on white background in configuration dialog.

https://i.imgur.com/hyqzcQb.png

Cause of the problem is that in ConfigGeneral.qml text color for items is defined as
color: theme.TextColor, but configuration dialog is not a qml widget but a proper window, which uses color scheme for application

[2018-02-05 16:34] I-Dream-in-Code commented on #14
I'm out of town for for 3 days with no access to my computer so I'll get to it when I get back

[2018-02-06 12:51] Faenriis opened #15 "No exit code on successful update"
Current update command can produce output similar to this (ime, mostly when dealing with AUR upgrades):
https://i.imgur.com/HKWa8Vg.png
I am not sure if it's just a behaviour of pacaur, but in any case it would be much safer if the command would end with something like "Update finished - press Enter to exit" instead of having to guess if the command is actually finished and if it's safe to close K

[2018-02-06 13:59] I-Dream-in-Code commented on #15
I'm out of town and away from my computer I'll get to it when I get back

[2018-02-06 18:47] clst opened #16 "Crashes my shell when I click "Update System""
Havent really dug into the code so I cannot say if it is my fault ;)
[code]

[2018-02-06 21:16] I-Dream-in-Code commented on #16
Is aur support enabled?

What aur helper are you using?

[2018-02-07 22:05] I-Dream-in-Code commented on #15
added it however I couldn't add `press enter to exit ; read` because I use the `--hold` argument for konsole so you just need to close the window

AUR and master are both updated

[2018-02-07 22:05] #15 closed

[2018-02-07 22:09] Faenriis commented on #15
Thank you, manual window closing is not a big deal, but confirmation of succesful completion of the update is a great to see.

[2018-02-07 22:31] I-Dream-in-Code commented on #15
Yeah I added a blank new line and a padded --- above update finished so it's more obvious and not blended in

[2018-02-08 17:53] clst commented on #16
Yes. I am using checkupdates+aur. Both binaries checkupdates-aur and checkupdates+aur work fine.
Even with aur support disabled it seems to crash. Let me try again with version 3.5-1.

I am getting this during build but I doubt, that is the problem:
[code]

The new version first opened a Konsole with a sudo prompt but on the next try shell crashed again. This time with the error logger catching it

[2018-02-08 18:02] clst commented on #16
Now I am fully updated. I got this crash when starting Upgrade System (from an empty list):
[code]

[2018-02-08 18:12] I-Dream-in-Code commented on #16
Give me your exact setup to reproduce

Tell me which options are enabled/disabled in settings

Do you have konsole installed?

Tell me which aur helper you have

[2018-02-08 18:14] I-Dream-in-Code commented on #16
Do you have zsh shell but not bash?

[2018-02-09 16:25] clst commented on #16
Thanks for the quick replies.
My Plasma version:
[code]
Settings window:
![image](https://user-images.githubusercontent.com/293237/36037674-c3f03e80-0dbd-11e8-9179-2edcbb9043ec.png)

zsh isn't installed. I am using fish most of the time. Default shell for the user is bash however. I made a second Profile in Konsole with fish and set it as default. Setting it back to bash as default with a logout/l

[2018-02-09 16:37] I-Dream-in-Code commented on #16
Aur support requires an aur helper

Look in worker.cpp to see what's supported.

I'll investigate

If you could do me a favor and type

`killall plasmashell`
`kstart plasmashell`

And paste the output when the crash happens that'd be much more helpful

[2018-02-09 17:39] clst commented on #16
Yeah I could have thought of that. :stuck_out_tongue:  There is not a lot there however:
[code]

once I installed trizen it just started working:
[code]

[2018-02-09 17:48] I-Dream-in-Code commented on #16
So I figured out why it crashed.

in `Worker::upgradeSystem` it calls `QString AURHelper = getAURHelper();` even if aur isn't enabled.  Since you had none it returned null.

I just updated the it to call it only if aur support is enabled.

both AUR package and master are updated

[2018-02-09 17:54] #16 closed

[2018-02-09 17:58] clst commented on #16
Cool thanks :+1:  I might as well continue using trizen, it's pretty neat.

[2018-02-09 18:01] I-Dream-in-Code commented on #16
The issue I have with Trizen is that you can't redirect the build directory.

So when you have a very large file to build in aur it completely fills up `/tmp` and you need to restart the system to even use anything.

pacaur is unmaintained but at least you can call `export TMPDIR` to change the location to on disk to build big packages.  I made a dir in opt `/opt/tmp` so I do `export TMPDIR=/opt/t

[2018-02-09 18:10] clst commented on #16
I just did that, maybe it's a new feature. In ~/.config/trizen/trizen.conf:
`  clone_dir                    => "defaults to /tmp I think",            #  str -- Absolute path to the directory where to clone and build packages.`

It even continued to use old aur packages that were already there.

[2018-02-09 18:18] I-Dream-in-Code commented on #16
Oh cool good to know

[2018-02-11 16:00] naraesk opened #17 "Support for Yakuake"
This is a feature request. :-)

I have yakuake running all the time. Would be nice if the kde-arch-update-plasmoid would be able to fetch the running yakuake instance and execute the commands with this instance.

[2018-02-11 17:42] I-Dream-in-Code commented on #17
Seems like a lot of work for a single user feature.

I'm happy to explain my code to you (it's commented really well) if you feel like submitting a patch

[2018-02-11 18:19] I-Dream-in-Code commented on #17
There's no documentation for yakuake so I can't figure out yakuake scripting.

If you know yakuake scripting I'd be happy to merge your patch

[2018-02-11 21:33] naraesk commented on #17
Thanks for your response. From my point of view, the easiest way is to use qdbus to interact with yakuake. The following shell script checks if yakuake is running, starts a new session and runs a predefined command:

[code]
I know, that's not really a patch. But that should be all you need, shouldn't it? You just have to run the script. Might be a bit more beautiful using C++ with QProcess and QtD

[2018-02-11 21:47] I-Dream-in-Code commented on #17
The command I use for upgrade in both konsole and aur is

`'sh -c "sudo pacman -Syu ; echo Update Finished'"`

can yakuake support chain commands?

[2018-02-11 22:15] naraesk commented on #17
Sure, no problem. Yakuake is based on KonsolePart and should support everything Konsole supports.

[2018-02-11 22:23] I-Dream-in-Code commented on #17
I'll look into it.

[2018-02-12 01:11] I-Dream-in-Code commented on #14
AFAIK there's no "color scheme.textColor" option in qml.

Are you saying the base root item on `ConfigGeneral.qml `should be changed `Item` to some other type?

[2018-02-12 11:52] Faenriis commented on #14
OK, first  disclaimer: I'm not a coder, I'm just a guy who likes to tweak & break stuff, so I have no idea what I'm talking about, :)

However, these are my observations.
Currently, in ConfigGeneral.qml, you have this:

		Text {
			text: i18n("Show upgrade on konsole")
			color: theme.textColor
		}
		CheckBox {
			id: konsoleCheckBox
		}

Result: text color is wrong if desktoptheme color scheme is

[2018-02-12 15:07] Faenriis commented on #14
I've actually tested substituting Text {} with Label {} and it seems to work perfectly here blob:https://imgur.com/e4aa964c-ce45-48b9-a4c4-77387a4a12ff

[2018-02-12 17:54] I-Dream-in-Code commented on #14
Good call on the label.

One final question before I merge, does the package list suffer from this issue too or just the settings?

[2018-02-12 18:03] Faenriis commented on #14
No, package list is fine, text color is adjusted according to desktop theme that's currently used. With Breeze Plasma theme it's black text on white background, and with Breeze Dark it's white text on black background.
Issue appeared simply because settings window is a separate window, not not exactly a plasmoid , if that makes any sense.

[2018-02-12 18:05] I-Dream-in-Code commented on #14
That's what I figured.  It's a plasmoid so it defaultly uses theme vs color scheme.

I'll merge it right now and update AUR package and master

[2018-02-12 18:06] I-Dream-in-Code commented on #14
both are updated

please confirm that it works

[2018-02-12 18:12] Faenriis commented on #14
Rebuild  & now everything looks great.
Thank you.

[2018-02-12 18:12] I-Dream-in-Code commented on #14
Cool

I would never has figured out Label vs text so thank you for solving it. :)

[2018-02-12 18:12] #14 closed

[2018-02-12 18:13] I-Dream-in-Code commented on #14
I also fixed the alignment on the interval spinbox

[2018-02-12 18:30] Faenriis commented on #5
This is a snippet from Discover's update notifier plasmoid.

  Plasmoid.status: {
          switch (DiscoverNotifier.state) {
              case DiscoverNotifier.NoUpdates:
              return PlasmaCore.Types.PassiveStatus;
              case DiscoverNotifier.NormalUpdates:
              case DiscoverNotifier.SecurityUpdates:
              return PlasmaCore.Types.ActiveStatus;
           }

I th

[2018-02-12 19:01] I-Dream-in-Code commented on #5
I tried implementing it and it didn't work.

I also tried adding `visible: main.updatesPending > 0` which didn't work either

[2018-02-12 19:10] I-Dream-in-Code commented on #5
Feel free to fork it and I'll merge a patch in

[2018-02-22 12:32] fancytenseletters opened #18 "Plasmashell start delayed after login"
When I have plasmoid enabled it significantly delays plasmashell start upon login (I guess it waits until update check is completed). Other plasmoids like weather check don't cause such issues.

Maybe introduce slight delay for checking updates after login so it will trigger after plasmashell is loaded?

[2018-02-22 13:25] I-Dream-in-Code commented on #18
I think it's best if you play around with that number.

In  `main.qml` there's a timer on line 43 that runs to initially load the update list on login or plasma shell restart

[2018-02-22 14:05] fancytenseletters commented on #18
I tried `99999` and `999` but I didn't feel any difference.

[2018-02-22 14:33] I-Dream-in-Code commented on #18
I can't test it due to the fact my wifi always fails to connect so I just get no internet connection

Your issue is it's calling `readUpdates` but locks the thread

I can try playing around with just
`killall plasmashell`
`kstart plasmashell`

Though

I know when it starts it gets called twice just from debug logs

But the first call is the issue

[2018-02-22 16:23] fancytenseletters commented on #18
You can try `kquitapp5 plasmashell; kwrapper5 plasmashell &` from terminal or create keyboard shortcut with: `kquitapp5 plasmashell; kwrapper5 plasmashell > /dev/null 2>&1 & exit 0` command.

[2018-02-22 19:58] fancytenseletters opened #19 "Pacaur always runs with --noconfirm --noedit options"
Enabling AUR support always results with `--noconfirm --noedit` options used even when `--noconfirm aur` option is disabled in settings. I tested it with `pacaur`.

[2018-02-23 10:29] I-Dream-in-Code commented on #19
You are correct. Thank you for pointing that out.

I modified the backend call to run a string but didn't remove `--noconfirm` and `--noedit` from it properly

commit 3b298087 fixes it

master and AUR are updated

[2018-02-23 10:29] #19 closed

[2018-02-23 10:54] I-Dream-in-Code commented on #18
So I figured out the call

when the plasmoid loads the settings emit on "onChange" just from loading. and it calls refresh on change

Please change the following in `main.qml` and  play around with the timer. 10000msecs seems too long

line 23
`onNamesOnlyChanged: timer.restart() `
line 24:
`onAurSupportChanged: timer.restart()`

line 43:
`	Timer {
		id: timer
		 interval: 10000
		running: true

[2018-02-23 11:47] fancytenseletters commented on #18
It seems that changing line 23 and line 24 cuts the delay in half.

I didn't saw any further differences when changing the timer.

[2018-02-23 11:47] I-Dream-in-Code commented on #17
So I don't understand dbus well enough to implement this myself.

HOWEVER I did make a yukuake branch that has all the rest of the plasmoid logic filled in minus implenting the qdbus calls so you can submit the patch

it's in `worker.cpp` lines  365 and 290

[2018-02-23 11:52] I-Dream-in-Code commented on #18
on my system with`timer.restart()` the plasmashell fully loads before it calls checkupdates

I haven't played around with the timer myself

This is a very...subjective measurement so I'm hoping you can dig a bit deeper before a push a (to the logic) a big(er?) timer interval to master

[2018-02-23 11:58] fancytenseletters commented on #18
Honestly https://github.com/I-Dream-in-Code/kde-arch-update-plasmoid/commit/78261a6369eb1962d20db76ba593d4349a7a62c5 satisfies me. I think it can be pushed to master without changes in timer value and this issue can be closed.

[2018-02-23 12:03] I-Dream-in-Code commented on #18
my issue is that it now takes 10 seconds to simply call refresh if someone changes `names only` or `aur support` from settings to deal with this initial loading bug to refresh plasmoid.

So I was hoping for a smaller timer so you can get that "instantaneous update" if you change a setting

So I'm hoping you can find me a minimum

[2018-02-23 12:09] naraesk commented on #17
Thanks, I'll have a look at it on the weekend

[2018-02-23 12:30] fancytenseletters commented on #18
Previously any change in settings will freeze the UI for small time so it's improvement even if you have to wait for actual changes to be effective.

Anyway I tested 1 second (1000) and it works ok. I don't think there is a reason to go lower.

[2018-02-23 12:34] I-Dream-in-Code commented on #18
cool just updated master and AUR

[2018-02-23 12:34] #18 closed

[2018-02-24 09:54] NerosTie opened #20 "The icon doesn't match the Breeze theme"
I think the default icon is too "Arch" and it should more like this one for example:

![screenshot_20180224_104452](https://user-images.githubusercontent.com/4572452/36628958-bf78c91a-194f-11e8-907b-a0e187cf3cbb.png)

[2018-02-24 09:57] NerosTie opened #21 "Translations?"
It could be nice to translate it in others languages. I don't know how to do it but if you tell me how, I can help with French.

[2018-02-24 10:29] fancytenseletters commented on #20
Well, Arch is definitely  the target distro here. The above icon is already used by [Discover](https://userbase.kde.org/Discover) so reusing it isn't advisable.  If other Arch-like distros want to package this, the can use the icon of their choice.

[2018-02-24 10:34] NerosTie commented on #20
Yes but the actual icon doesn't look like an update icon and it's doesn't match well with the Breeze theme. I don't tell to use the Discover's icon, but something more like this one for this plasmoid.

[2018-02-24 11:56] fancytenseletters commented on #20
This is probably very subjective as it looks good in Breeze for me but I don't oppose adding new icons.

[2018-02-24 17:13] I-Dream-in-Code commented on #20
It's an arch icon because only arch requires check updates and manual upgrade.

Gnome arch update notifier uses a similar arch logo icon

[2018-02-24 17:13] #20 closed

[2018-02-24 17:16] I-Dream-in-Code commented on #21
How do you define translations?

Like I'm settings? Or the package names?

I already use i18n() in settings

[2018-02-24 19:42] NerosTie commented on #21
It should be translated with i18n? Because everything is in english:

![screenshot_20180224_204158](https://user-images.githubusercontent.com/4572452/36634321-29c8a83c-19a3-11e8-8302-39b8d5fd916d.png)
![screenshot_20180224_204219](https://user-images.githubusercontent.com/4572452/36634327-36019c62-19a3-11e8-9b4b-6f687d2c9539.png)

[2018-02-24 19:58] I-Dream-in-Code commented on #21
I don't think the package names are anything other than English?

I18n should translate them automatically?

[2018-02-24 20:03] I-Dream-in-Code commented on #21
Qml documentation says to use `qStr()` instead of `i18n()`

I'll test it

But am I correct only settings should be translated?

Package names are always English, right?

[2018-02-24 20:59] I-Dream-in-Code commented on #21
`qStr` won't work but every plasmoid on github uses `i18n` so idk why it's not working

[2018-02-24 21:01] I-Dream-in-Code commented on #21
according to arch documentation it's not the settings menu of kde that sets the language it's Arch Linux `locale` that sets it.

so maybe you have your locale set to en_US?

[2018-03-03 17:54] I-Dream-in-Code commented on #17
thanks for coding it

bc5c5781d1ab6ff01451ca227da3aac594897be0 is the master merge

[2018-03-03 18:18] naraesk commented on #21
You have to provide the translations somewhere, afaik

[2018-03-03 18:23] naraesk opened #23 "Settings improvements"
Two things I noticed while implementing yakuake support:

1) If aur support is enabled, pacman -Syu --noconfirm is used. If aur support is disabled, --noconfirm is not used. Is this intended?

2) Currently, you can enable "show in konsole" and "show in yakuake" at the same time, which does not make sense. You should use radio buttons, so only one option can be selected

[2018-03-03 18:38] I-Dream-in-Code commented on #17
@naraesk when I run either command it parses it correctly but when yakuake runs it asks for sudo password then immediately quits and runs update finished

It passes over the sudo prompt and doesn't wait for a password.

Is this a configuration on my end? or do I need to change the code?

[2018-03-03 19:16] I-Dream-in-Code commented on #23
@naraesk

For 1: if it shows in konsole without aur support it defaults to not enabling nocofirm so you can inspect the update process and have it be interactive. if you want noconfirm in aur you have to choose it in settings.

2: I can make it a radio button

HOWEVER the yakuake code you gave me is super buggy.

if yakuake isn't started the whole shell freezes and it fails to start a session afte

[2018-03-03 19:25] I-Dream-in-Code commented on #21
Oh that makes sense.

I'll look into it. I know KDE has an auto translate framework i think?

[2018-03-03 20:07] naraesk commented on #17
Sorry, it's my bad. I configured my system a while ago so to use pacman without asking for a password, that's why it was working for me. But i can fix it

[2018-03-03 21:36] I-Dream-in-Code commented on #17
@naraesk

0303868d2e1fc12f08c256f30ae19e8c3e8cd0ff fixed the intialization and plugged the memory leak resulting in it

you need to fix the actual call so it waits to accept sudo password

[2018-03-03 22:31] I-Dream-in-Code commented on #23
a13709a77e60e6d537aa28ac877faa91106accd9 fixes settings and makes it better than radio.

If it was radio I'd need 3 boxes, one for default one for konsole one for yakuake.

Now you can select none or only 1.

Changes are pushed to yakuake branch and will be merged once you fix yakuake

[2018-03-03 22:31] #23 closed

[2018-03-03 22:45] naraesk commented on #17
If yakuake is already running, your changes lead to an infinite loop since this -> yakuakeProcess will always be NULL.

[2018-03-03 23:06] I-Dream-in-Code commented on #17
You're right.

I fixed it but I still feel like there's a memory leak maybe?

If someone quits yakuake when it's started from the plasmoid then the `Qprocess yakuakeProcess` pointer isn't freed the process is just destroyed and you make `new` again.

I can check if PID<=0 to free it

[2018-03-03 23:29] I-Dream-in-Code commented on #17
so I realized there's `deleteLater()` function that cleans up the memory for me

anyways the infinite loop is fixed now along with the memory leak

[2018-03-03 23:31] I-Dream-in-Code commented on #17
@naraesk  I just need you to fix the actual asking for sudo password issue now

[2018-03-03 23:46] I-Dream-in-Code commented on #21
@NerosTie  I'm not going to claim to know other languages

Here's the pacaur guide for translation
https://github.com/rmarquis/pacaur/blob/master/po/HOWTO

[2018-03-04 03:01] I-Dream-in-Code commented on #17
My only guess (though I can't figure out the commands even with intensive websearching) is that when it runs the window isn't visible and so it's ignoring the password prompt.

So if the window was visible then maybe it'd work?

[2018-03-04 13:14] fancytenseletters commented on #17
After recent updates clicking on "Update System" does nothing on my machine. Downgrading to `3.5.4-1` fixes this. Can we revert all latest changes instead of commenting them out?

[2018-03-04 19:54] I-Dream-in-Code commented on #17
@fancytenseletters  i reverted it and added pkgver() function with tags

[2018-03-04 20:35] I-Dream-in-Code commented on #17
@naraesk I merged with master thanks for fixing it
@fancytenseletters I reverted but then fixed yakuake

AUR package and master are both updated

[2018-03-04 20:35] #17 closed

[2018-03-04 21:36] fancytenseletters commented on #17
@I-Dream-in-Code it still doesn't work for me. "Update system" doesn't execute any command. Also there is no option to check yakuake in options (have it installed but don't want to use it anyway).

[2018-03-04 21:58] I-Dream-in-Code commented on #17
@fancytenseletters sorry that merge failed

it's updated now

[2018-03-04 22:03] fancytenseletters commented on #17
It works now! Thx.

[2018-03-10 10:32] naraesk commented on #23
When aur is enabled, two commands are executed. one for updating aur, one for updating pacman. The second command always has --noconfirm, regardless of what is selected in settings.

[2018-03-10 10:37] naraesk commented on #23
What is so bad about having a third option? It breaks design guidelines to use checkboxes like this.

https://community.kde.org/KDE_Visual_Design_Group/HIG/CheckBox
https://community.kde.org/KDE_Visual_Design_Group/HIG/RadioButtons

Checkboxes are for selecting multiple options
Radio buttons are for selecting only one option

[2018-03-10 17:53] I-Dream-in-Code commented on #23
It's too cluttered with three options and it says in the second bullet for radio button if it's the negation then use a checkbox.

I'll fix the pacman settings

[2018-03-10 18:09] naraesk commented on #23
If it would be the negation, you wouldn't need three radio buttons. ;-)

Am 10. März 2018, 18:53, um 18:53, Michael Harris <notifications@github.com> schrieb:

[2018-03-16 16:41] I-Dream-in-Code commented on #5
@naraesk when i click panel settings it just gives me auto-hide but no automatic

can you walk me through how to enable it?

[2018-03-16 16:47] I-Dream-in-Code commented on #5
@naraesk is it a specific package I'm missing?

[2018-03-16 16:54] naraesk commented on #5
I assume you are in the wrong settings window. system panel has its own settings. Right click on the system tray (not an application icon, but e.g. on the small arrow) and open settings. There you can set the visibility of each icon in system tray.

[2018-03-16 17:08] I-Dream-in-Code commented on #5
Oh I get it now.

I had it as it's own widget versus in the system tray

[2018-03-16 17:10] #5 closed

[2018-04-11 01:02] drewofdoom opened #27 "Custom icon support?"
I use this on Manjaro and would love to be able to add a custom icon.

[2018-04-11 01:10] I-Dream-in-Code commented on #27
I don't think that's something I can do on my end

If you want to change it download the source and edit `package/contents/ui/archLogo.png` to the image you want

Keeping it the same name is easiest or else you need to edit every file that has it in it

[2018-04-11 01:13] I-Dream-in-Code commented on #27
If you want it to be real robust custom image feel free to contribute a patch :)

[2018-04-20 16:20] pix106 opened #28 "Delay first test ?"
Hi,
when the plasmoid loads, network may not be available yet (wifi not yet connected).
Adding a "delay before first test" settings could be a good workaround.
Any thoughts ?
Thanks :)

[2018-04-20 17:53] I-Dream-in-Code commented on #28
Was somewhat fixed bug #18

Any more delay affects refresh in settings menu

[2018-04-20 18:27] pix106 commented on #28
@I-Dream-in-Code
Thanks.
If I got it well, last comment in the other issue tells about 1 sec delay before plasmoid start ; I'm talking about a user customizable delay to be able to delay first _check for updates_  (not plasmoid start) for many seconds (a minute or so in my case before wifi is connected after  session start).
What I mean is : plasmoid starts, but does not check for updates before X

[2018-04-20 18:53] I-Dream-in-Code commented on #28
I feel like a much more elegant solution is to recheck if connected to the internet again after x seconds of returning not connected then run check updates

[2018-04-20 19:25] pix106 commented on #28
@I-Dream-in-Code it seems even better indeed :)

[2018-04-20 19:40] I-Dream-in-Code commented on #28
I'll make a branch with the change and you can mess with the timer.

Also all you need to do is just click it and press check updates regardless of this way

[2018-04-22 19:32] I-Dream-in-Code commented on #28
@pix106 I made the internetTimer branch for you.

Clone it and run `install_plasmoid.sh` under the internetTImer branch and see if that works for you.

Under `plugin/systemcalls.cpp` with the `checkUpdates` function you can mess with the `delitime` variable

[2018-04-23 06:28] pix106 commented on #28
Thanks, I'll try it asap :)

[2018-04-23 14:41] pix106 commented on #28
I tried :
it seems plasmoid is actually running in the foreground : after the login screen, session opening is hanged with only wallpaper for 60 seconds (delitime), then session starts, and so NetworkManager can finaly try to connect to wifi.

I had seen, with regular version, that plasmoid does not seem to run in the background, as plasma is locked when checking for updates.

[2018-04-23 17:52] I-Dream-in-Code commented on #28
So do you want me to change the start up time or the delitime?

[2018-04-24 06:30] pix106 commented on #28
?
Imho both are useless if plasmoid starts in foreground and prevents any other process to be run while waiting for "delitime" before first check.

[2018-04-24 06:44] I-Dream-in-Code commented on #28
So I'll just call check if connected to internet in `main.qml' and wait 60 seconds in the foreground

The Shell hangs due to the mutex lock of readupdates

I could switch out mutex for a standard static bool and while loop it won't hang

[2018-04-24 16:35] pix106 commented on #28
making it work in the background would be great :smiley:
I have no clue about qt/plasma dev, i mainly do python, i'm affraid i can't help you for the dev part.
Thanks for your efforts !

[2018-04-27 21:05] I-Dream-in-Code commented on #28
Commit 2abcfa1b414e165109ec922c8bdea3e989295b48

replaces the mutex with boolean so it shouldn't lock.

I deleted the retry in 60 seconds part but can add it back if I need to but it shouldn't lock

[2018-04-27 21:28] I-Dream-in-Code commented on #28
commit c5a4aae61e452832d755f2d63a13172eb1fb08a8 added a non-blocking 1 minuter internet recheck timer

[2018-04-28 12:14] pix106 commented on #28
Thanks !
Background part seems fine, shell start is not locked anymore when session opens.
It's still locking while checking for updates though (can't hide the plasmoid during check, nor do anything else with the until cheking ends).

The internet connection checker part does not seems to work, or i did not get what you wrote :)
After several minutes after wifi is connected, plasmoid still shows n

[2018-05-01 08:58] pix106 commented on #28
Background check seems fine :)
Thanks Michael !
I checked it after downgrading a package.

But i think we did not understand each other for the previous "initial check" , so i'll try to make my point clearer :
- plasma session starts
- internet is down (network manager is trying to connect)
- arch updater plasmoid starts, shows nothing in the plasmoid or on the icon
- finaly internet becomes up (n

[2018-05-01 22:30] I-Dream-in-Code commented on #28
When the plasmoid starts it checks the internet.

if no connection it rechecks in 1 minute.

If the internet is not up in that 1 minute from when the plasmoid starts it returns no internet.

So basically 1 minute is too short a time to recheck and we need a longer timer.

in `/package/contents/ui/main.qml` on line 63 on `internetTimer` branch it says 60000

play around with the number to have the

[2018-05-02 16:31] pix106 commented on #28
Thanks. So i think i had understood it well, but it just does not work as intended for now :
even with 120000 (2 minutes), i get the exact same result as before, it only delays the moment plasmoids shows "No internet connection"... but internet has been up for at least 1.5. minutes, so it should fine internet is up and check for updates.

[2018-05-02 16:44] I-Dream-in-Code commented on #28
Oh wait i see the bug

I'll fix it in a second

[2018-05-02 16:53] I-Dream-in-Code commented on #28
fd340818e1f84d5db4cf1ebdcde54bac37ddabb9

it always returned no internet connection if it failed the first time because it didn't check if connected again only if the boolean was true which it always is after first check regardless if internet is up

[2018-05-02 16:59] pix106 commented on #28
That's it, it works :+1:
Thanks Michael :)

A suggestion for the message : "Recheck internet connection" => "No internet connection, checking again in internetTimer/1000 s" (or so...)

Do you want me to fill some other issue for the wrong number in "badge", as it is not related to the initial test issue ?

Thanks again !

[2018-05-02 17:27] pix106 commented on #28
For me it's enough.
If it's not hard to add in plasmoid settings, every user could change the 1 minute default value to suit his needs.

[2018-05-02 17:27] I-Dream-in-Code commented on #28
The reason it has to list as 1 is because it auto hides if check updates is 0

I won't show no internet otherwise

Plus it's good to notify versus just no number and no internet you can't tell

[2018-05-02 17:33] pix106 commented on #28
Notifying user is always good, i agree :)

It's no big deal, but i think a number shown in a updater app badge should reflect the number of updates, not the number of messages the app it has to show.
What about a "?" badge if there is no connection after internetTimer has passed ?

[2018-05-02 17:34] I-Dream-in-Code commented on #28
Yeah that's an easy fix and a lot clearer

I'll work on it :)

[2018-05-02 19:43] I-Dream-in-Code commented on #28
I updated the master branch to include the ? if not connected.

The previous issue is updated on master too.

You can just update the normal AUR package with an AUR helper

[2018-05-02 19:43] #28 closed

[2018-05-20 22:00] guicale opened #29 "Add support for more AUR helpers"
I seems quite a few AUR helpers have been added to the [wiki page](https://wiki.archlinux.org/index.php/AUR_helpers), so it would be nice to add support for them.

[2018-05-23 01:19] I-Dream-in-Code commented on #29
Ha it seems all the other ones got discontinued...

I'll get to it hopefully in the next few days but if not it'll be a few weeks as I'm moving and won't have my desktop computer

[2018-05-23 02:05] I-Dream-in-Code commented on #29
I just updated master and the aur package

let me know if I mistyped the commands

[2018-05-23 02:05] #29 closed

[2018-05-29 06:14] afettouhi opened #30 "Doesn't start anymore"
Pacman 5.1.0 just went into stable and the kde-arch-update-plasmoid now complains about "cannot start checkupdates". I have tried to rebuild kde-arch-update-plasmoid and the perl dependencies but still it complains.

[2018-05-29 13:13] I-Dream-in-Code commented on #30
Checkupdates or checkupdates-aur?

Disable aur support for now

I don't have my computer with me for maybe 2 weeks

I'll get to it when it arrives

[2018-05-29 18:23] nomis6432 commented on #30
I have the same problem. In my journal I find:
`org.kde.archUpdate: Cannot start /usr/bin/checkupdates`
and when looking in /usr/bin I can only find checkupdates-aur . checkupdates is gone.
When I try to rebuild the package I get this error during the process:
`expac: error while loading shared libraries: libalpm.so.10: cannot open shared object file: No such file or directory`

The problem seems

[2018-05-29 19:11] nomis6432 commented on #30
nvm I found the problem: https://www.reddit.com/r/archlinux/comments/8mu6de/notice_pacman_and_pacmancontrib_split/

`pacman-contrib` should be added to the dependencies

[2018-05-29 20:50] afettouhi commented on #30
I can confirm this. After installing pacman-contrib and rebuild the plasmoid everything works again.

[2018-06-06 10:34] ghost opened #31 "Don't show packages listed in IgnorePkg in pacman.conf"
Currently after update check plasmoid shows packages which are listed in `IgnorePkg` in `pacman.conf` thus they will never be updated. It would be nice if plasmoid can ignore them too.

[2018-06-06 16:36] Rosanna4 commented on #31
Yeah, that's what I thought.

Great. Thank you.

[2018-06-07 18:46] I-Dream-in-Code commented on #31
Paste me your entire pacman.conf

Also the path of it

[2018-06-08 11:37] Rosanna4 commented on #31
Well it's quite default from `/etc/pacman.conf` [pacman.conf.txt](https://github.com/I-Dream-in-Code/kde-arch-update-plasmoid/files/2084186/pacman.conf.txt)

[2018-06-09 23:20] I-Dream-in-Code commented on #30
fixed please update package

[2018-06-09 23:20] #30 closed

[2018-07-14 18:43] I-Dream-in-Code commented on #27
@drewofdoom my latest commit adds custom icon support

[2018-07-14 18:43] #27 closed

[2018-07-14 18:44] I-Dream-in-Code commented on #20
@NerosTie  custom icon support has been added

[2018-07-20 14:37] ahmed-h-ayyad opened #32 "Cannot change icon"
I want to change icon through (custom image) option found in the settings but after choosing icon and restart plasma the icon applet disappears

[2018-07-20 15:14] I-Dream-in-Code commented on #32
Can you send me a copy of the icon file?

[2018-07-20 15:57] ahmed-h-ayyad commented on #32
![path4](https://user-images.githubusercontent.com/37955014/43012229-61e8981c-8c35-11e8-8baa-2159b4e709ed.png)
I've tried several icon files, this one of them

[2018-07-20 22:01] I-Dream-in-Code commented on #32
It's working fine on my machine.

when you restart the shell it takes a second to load the icon

[2018-07-21 02:49] I-Dream-in-Code commented on #32
killall plasmashell

kstart5 plasmashell

[2018-07-21 02:53] I-Dream-in-Code commented on #32
Also if no updates are available it autohides

[2018-07-21 17:14] #32 closed

[2018-07-23 11:19] navarroaxel opened #33 "[Feature request] Clean orphan packages"
Add a check option to clean no longer required packages (orphans) after upgrade.

[2018-07-23 11:30] navarroaxel opened #34 "[Feature request] Add support for snap"
Add support for upgrade snaps (apps installed via https://snapcraft.io).

The command to upgrade snaps is `sudo snap refresh` and requires `snapd` package installed (https://aur.archlinux.org/packages/snapd).

Could you add a check to append the `refresh` command to the upgrade process?

Thanks!

[2018-07-23 17:13] I-Dream-in-Code commented on #34
Snaps should automatically update in background once a day correct?

[2018-07-24 16:03] navarroaxel commented on #34
The answer is *yes*.

I have been investigating but I can't find which pattern use snap for the refresh interval. Looks like snap use a 4 times per day refresh event.

In my laptop:
[code]

This Ubuntu doc page is useless even on 18.04https://docs.ubuntu.com/core/en/reference/automatic-refreshes

And I found here https://forum.snapcraft.io/t/system-options/87 that I can set refresh intervals by sn

[2018-07-24 17:00] I-Dream-in-Code commented on #34
I might as well add full support for snaps and add the ones available to update to the plasmoid

[2018-07-24 17:04] navarroaxel commented on #34
I don't know how to list which packages are available to refresh like `checkupdates` does.

[2018-07-24 17:12] I-Dream-in-Code commented on #34
I think it's `sudo snap refresh --list`

[2018-07-24 17:13] I-Dream-in-Code commented on #34
I hope i can do it without sudo

[2018-07-24 18:04] navarroaxel commented on #34
I have tested `snap refresh --list` and sudo is not required. :+1:

Snap has the characteristic that if you ran `snap refresh` (without arguments) the command opens a modal requiring authentication for sudo.

[2018-07-24 18:43] I-Dream-in-Code commented on #34
Yeah that'll be a really quick fix then

Question:

I sort the packages both regular and aur

Do you want the snap sorted to or to distinguish it as a snap somehow?

[2018-07-24 19:54] I-Dream-in-Code commented on #34
Can you post the output of `snap refresh --list`?

I don't have any to test

[2018-07-25 12:07] navarroaxel commented on #34
I think we need to look up the "refreshable" snaps into the `snap list` output to generate the same output format that `checkupdates` has.

[code]

`snap list` list all the installed snaps with the current version.

Another type of "upgrade": you can `switch` the `channel` for a snap and the `refresh` is change the current snap to the switched channel, not only applies to upgrades. By example:

[c

[2018-08-12 19:43] I-Dream-in-Code commented on #34
I'll need to wait until a package can be downgraded to get full functionality

sorry for the wait

[2018-08-12 21:29] I-Dream-in-Code commented on #33
added

master and AUR package are updated

[2018-08-15 01:36] navarroaxel commented on #33
Hi @I-Dream-in-Code, when I check the `clean orphan packages` checkbox the clean is not added as last step of the upgrade process. But a model opens requiring my password for made sudo changes.

![screenshot_20180814_223358](https://user-images.githubusercontent.com/1536740/44127128-410d36ac-a012-11e8-93cd-db6ab5260516.png)

I'm running the upgrade using yakuake. Which runs the same command as alw

[2018-08-15 01:48] I-Dream-in-Code commented on #33
That's intended

I tried adding it before the echo but it failed to start the upgrade

The current implementation is when the window closes it cleans orphans

Feel free to submit a patch to run in the same command.

Q process has a really nasty bug if stringing commands together via bash

I've tried various ways in other parts of the code stringing commands in one bash call and it fails to run any

[2018-09-28 02:16] I-Dream-in-Code commented on #33
@navarroaxel I updated the package to add confirm so it actually works

Also I asked the Qt Support about the long command bug and they said to put it in a shell script.

There's a branch called bashScript feel free to work on it.

The issue is that is runs fine in shell but when running from qprocess it unexpected EOF on the ' after -c.

Try making the stuff after -c a single string.

Got command

[2018-09-28 22:16] I-Dream-in-Code commented on #33
@navarroaxel  i got it working!!  It was huge thing to do.

I don't want to push it until i can get it working with yakuake but maybe @naraesk  can help out?

[2018-09-28 23:36] I-Dream-in-Code commented on #33
@navarroaxel I got it all working now

@naraesk  I figured out yakuake

master and AUR package are both updated

[2018-09-28 23:36] #33 closed

[2018-10-20 01:51] bssb opened #36 "Konsole and Yakuake not showing upgrade process"
When AUR support is disabled, Konsole does not open a window when Update System is clicked. Yakuake opens a new empty tab, with no commands. I'll be happy to submit a PR once I get it together.

[2018-10-20 03:36] I-Dream-in-Code commented on #36
Thanks for bringing this to my attention

I should be a simple issue with commands stringlist

I'll check it out

[2018-10-20 03:37] #31 closed

[2018-10-21 20:40] I-Dream-in-Code commented on #36
aa291a3fa06ce53ffbc6a21782cc4953a4a54d86 fixes issue

master and AUR package are updated

[2018-10-21 20:40] #36 closed

[2018-10-21 21:34] I-Dream-in-Code commented on #34
0396cdbb494b01cf490fe46015204e11ed308651 adds support for snap

master and AUR Package are updated

sorry it took so long

[2018-10-21 21:34] #34 closed

[2018-10-22 04:25] bssb opened #38 "use svg icons"
The png logos look pixelated when scaled down. Like this:
![plasmoid](https://user-images.githubusercontent.com/7004951/47277662-3ec67300-d590-11e8-951b-b8087ce4d3cc.png)

Using scalable icons would look smoother. Would you accept a PR for svg icon support?

[2018-10-22 14:30] I-Dream-in-Code commented on #38
Sure a pull request would be great

Please get svg for default, light and dark themes

[2018-10-22 14:32] I-Dream-in-Code commented on #38
Sure

Please do svg for default, light and dark themes

[2018-11-05 05:16] jurplel commented on #38
On it - #39

[2018-11-15 23:16] jurplel commented on #38
This can be closed now

[2018-11-26 15:54] #38 closed

[2018-12-17 16:01] navarroaxel opened #40 "module "QtQuick.XmlListModel" is not installed"
I'm getting this error after a full upgrade of Arch Linux:
[code]
And the widget can't load. I tried to reinstall the widget, but it does not work.

[2018-12-18 17:37] Maryse47 commented on #40
Do you have `qt5-xmlpatterns` package installed?

[2018-12-18 17:57] navarroaxel commented on #40
No, that fixed my widget! But I never installed or removed that package. Do you know if Arch Linux removed that from KDE because is deprecated or something?

Maybe a clean orphan packages has removed it.

I think is not a dependency of this package because is part of the core of KDE, but it's not the case.

[2018-12-18 21:45] Maryse47 commented on #40
It may get cleaned out at some point in your system. The proper fix is to add it explicitly as dependency in `PKGBUILD` @I-Dream-in-Code . You may also remove `fakeroot` which is already covered by `pacman-contrib`.

[2019-05-13 11:23] elParaguayo opened #41 "Refresh update count following update"
Is it possible to make the plasmoid refresh the update count following an update?

I may have been overthinking this but my idea was to have the plasmoid present a dbus interface and then use a pacman hook to trigger the relevant method. I was thinking of doing it this way as I typically upgrade via a manual "sudo pacman -Syu" rather than clicking on the update option in the widget.

I'd happily h

[2019-09-28 03:45] fvguilherme opened #42 "[Feature request] Add support for Flatpak"
Would be awesome if you could add support for Flatpak. When Flatpak is enable, the menu could shows something like "Flatpak" beside the package name, to show that is a Flatpak.

And thank you for this applet. It is awesome!

[2019-09-28 10:50] Maryse47 commented on #42
I guess this will greatly complicate the code as for updating flatpaks you have to use totally different tools than for repo packages.

[2019-09-28 14:20] fvguilherme commented on #42
why? Is not so different than update Snaps.

[2020-06-17 14:16] navarroaxel opened #43 "[Feature request] Add extra script to check updates"
For some AUR maintainers could be really useful add custom scripts to check new releases within the same plasmoid, to know when they should upgrade their AUR packages.

Example scenario: a script to check new Google Chrome Beta releases:

[code]

To store this scripts I think something like `nnn` where you can install your custom scripts in `$XDG_CONFIG_HOME/nnn/plugins`
and maybe the user can swi

[2020-06-18 10:21] Maryse47 commented on #43
Sounds like out of scope for this project.

[2020-09-27 18:59] fabianski7 opened #44 "Icon being cut on plasma 5.19.90"
plasma 5.19.90 is the last beta before the stable version 5.20, and it has been introduced a function to select the size of the systray icons.

When the selected size is the small one, the icon of this plasmoid is being cut.

![1](https://user-images.githubusercontent.com/47755037/94373173-315a8180-00f3-11eb-8596-fd6f944569e9.png)

[2020-10-20 07:59] afettouhi commented on #44
Can confirm this also happens on the stable released version of plasma 5.20

[2020-11-01 10:57] ghost opened #45 "[Feature request] Add archlinux's news"
It would be awesome to have a `yay -Pw` feature just in case there were any major distro problems before clicking to _upgrade system_ button.

[2020-11-01 11:02] ghost opened #46 "Change tray icon size"
I've tried to change tray's icon size with no success, mostly by editing `width` and `height` image properties from `archLogo.qml`. Is there a way to change it dinamically, and no editing the _choosen_ image manually?

[2021-10-28 00:39] Rusty-Beard commented on #46
check #48